@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Montserrat:wght@100;300;400;500&family=Open+Sans:wght@300;400;800&family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: #fefefe;
    --light-color: #9ff3a0;
    --accent-color: #3cdf59;
    --accent-color2: #b699c8;
}

body {
    background: var(--light-color);
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-align: center;
    min-width: 300px;
}

.header {
    width: 100%;
    color: white;
    background-color: #3cdf59;
    padding: 1em 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    margin: 1em;
}

.note-area {
    border: none;
    padding: 1em;
    border-radius: 4px;
}

.note-area:focus, .note-area:focus-visible {
    outline: 2px solid var(--accent-color);
}

.save-btn, .btn {
    border: none;
    border-radius: 4px;
    padding: .5em 1em;
    color: var(--font-color);
    background: var(--accent-color2);
    font-weight: 500;
}

.note-link {
    margin: .5rem;
    list-style: none;
}

.note-link a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.note-link a:hover {
    text-decoration: underline;
    color: var(--accent-color2);
}

.visible {
    width: 80%;
    margin: .5em auto;
    background: #fefefe;
    border-radius: 4px;
    padding: 2em;
    
}
.hidden {
    display: none;
}
